# Stripe Configuration
# Get your keys from https://dashboard.stripe.com/test/apikeys
STRIPE_PUBLISHABLE_KEY=pk_test_51SJ5ck7xTxyRTXVzDNdEZbPSSRJ4B2biFJamaoHXOV8ong5NQTFSpCUnijmdubN41dQG7wKXtX3TaKbMA7sG1mNL008CSboVxr
STRIPE_SECRET_KEY=sk_test_51SJ5ck7xTxyRTXVzY5J9qWO6qr1LiTop17sdzgalYiHMIwcHtZtJy1siEhWjujMZUcy988PQH82XtweJcHsaWdm9002i4VBoGa

# Database Configuration
# Get your connection string from Neon Console
DATABASE_URL=postgresql://username:password@host:port/database

# Clerk Configuration (if needed)
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=your_clerk_publishable_key_here